<?xml version="1.0" ?>
<robot name="r6_2f_proto1" xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:arg name="hardware_interface" default="mock"/>

  <!-- R6bot Arm -->
  <xacro:include filename="$(find example_arm_description)/urdf/r6bot_urdf_macro.xacro"/>
  <xacro:r6bot_description
  />
  <!-- Mock arm hardware -->
  <xacro:if value="${'$(arg hardware_interface)' == 'mock'}">
    <xacro:include filename="$(find example_arm_hardware_interface)/urdf/r6bot_mock_ros2_control_macro.xacro"/>
    <xacro:r6bot_control />
  </xacro:if>

  <!-- Base -->
  <link name="world"/>
  <joint name="base_joint" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
  </joint>

  <!-- 2F Gripper -->
  <xacro:include filename="$(find robotiq_description)/urdf/robotiq_2f_85_macro.urdf.xacro"/>
  <xacro:robotiq_gripper name="r6_2f_proto1" prefix="" parent="tool0" include_ros2_control="false">
      <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:robotiq_gripper>
  <!-- Mock gripper hardware -->
  <xacro:if value="${'$(arg hardware_interface)' == 'mock'}">
    <xacro:include filename="$(find robotiq_description)/urdf/2f_85.ros2_control.xacro"/>
    <xacro:robotiq_gripper_ros2_control name="r6_2f_proto1" prefix="" use_fake_hardware="true"/>
  </xacro:if>

  <!-- Teleop grasp_link -->
  <link name="grasp_link"/>
  <joint name="grasp_link_joint" type="fixed">
    <parent link="tool0"/>
    <child link="grasp_link"/>
  </joint>

</robot>
